@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.menu{
    padding: 12px 0;
    position: relative;
    z-index: 11111;
}

.menu .logo{
    font-weight: 600;
    font-size: 34px;
}
.menu .logo .b-txt{
    color: #a51062;
}
.menu .logo .c-txt{
    color: #126285;
}
.menu .nav-link{
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.menu .nav-item{
    padding: 0 15px;
}
.log .nav-item{
    padding: 0 5px;
}

.menu li a{
    padding: 15px 18px;

}
.menu li a.active{
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(5,16,44,.15);
    background:#822659;
}
.menu li a:hover{
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(5,16,44,.15);
    background: #822659;
}
.menu .navbar{
    position: fixed;
    width: 100%;
}
.navbar.sticky{
    margin-top: -64px;
    box-shadow: 0 10px 20px 0 rgba(5,16,44,.15);
}
@media screen and (max-width:700px) {
    .navbar.sticky{
        margin-top: -12px;
        transition: 0.2s;
        box-shadow: 0 10px 20px 0 rgba(5,16,44,.15);
    }
}

/* ----------------footer styling---------------- */
.footer{
    background-color: #000;
    padding: 50px;
    color: #fff;
}
.col-md-3 a{
    text-decoration: none;
    color: #fff;
    line-height: 38px;
}
.col-md-3 a:hover{
    color: #ea98a0;
}
.col-md-3 i{
    font-size: 40px;
    color: #ea98a0;
}
.col-md-3 .head{
    font-size: 28px;
    line-height: 48px;
}
.col-md-3 h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}
.col-md-3 p{
    padding: 10px;
    line-height: 28px;
}
.links ul li{
    display: inline-block;
    padding: 0 10px;
}
.links ul li a{
    font-size: 18px;
    color: #fff;
}
.footer .myname{
    text-decoration: none;
    color: #ea98a0;
}

/*--------------message-styling-----------*/
help-block{
        color:red;
    }
span.help-block{
        color:red;
    }

p.help-block, .myForm ul li{
    font-size:12px;
}
.myForm label.control-label, .myForm div{
    width: 100%;
    padding-bottom: 6px;
}

/*-----------table styling-------------*/
table th{
    background-color: #000;
    color:#fff;
    padding: 10px 0;
}
table td{
    padding-top: 10px;
    background-color:#fcfbfa;
}
/*-----------mycart table styling-------------*/
.table-cart td{
    background-color:#fff;
}
/*-----------arrow styling-------------*/
.arrow{
    margin-top:10px;
}
.arrow img{
    position: relative;
}
