{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
    <title>Login</title>
{% endblock%}
{% block main_content %}

<div class="container">
<div class="row pt-5 mt-5 pb-5 mb-5">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Login</h2>
        {% include 'messages.html' %}
        <div class="card py-2 px-2 shadow">
        <form class="form myForm" action="" method="POST">
            {% csrf_token %}
            {{ form_login | bootstrap_horizontal }}
            <div class="buttons text-center">
            <button type="submit" class="btn btn-primary mt-2">Login</button>
                <hr>
            <p class="mt-2">No account?Register for new account!</p> <a href='/register' class="btn btn-success {{activate_login}} mb-2">Register</a></div>
        </form>
    </div>
    </div>
</div>
</div>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter user name"
    form_fields[2].placeholder = "Enter password"

    for(field in form_fields){
    form_fields[field].className += ' my-2'
    }
</script>

{% endblock %}