{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
    <title>Change Password</title>
{% endblock%}
{% block main_content %}
<div class="container">
<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <div class="category-title text-center">
         <h4 class="text-center my-4">Change Password</h4>
        </div>
          {% include 'messages.html'%}
        <div class="card py-2 my-2 px-2 pw">
        <form class="form myForm" action="" method="POST">
            {% csrf_token %}
            {{ password_change_form | bootstrap_horizontal }}
            <button type="submit" class="btn btn-primary mt-3">Change</button>
        </form>
    </div>
    </div>
</div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter old password"
    form_fields[2].placeholder = "Enter new password"
      form_fields[3].placeholder = "Confirm new password"
   for(field in form_fields){
   form_fields[field].className += ' my-3'
   }
</script>
{% endblock %}