{% extends 'layout-admin.html' %}
{% load static %}
{% block title %}
<title>Admin-Dashboard</title>
{% endblock %}
{% block main_content %}
<style>
    .card-body a{
    text-decoration:none;
    color:#fff;
    }
    .card-body a:hover{
    color:orange;
    }
</style>
<div class="container">
    <h1 class="text-center mt-3 mb-5 pb-3" style="color:#3e606b;">Admin Dashboard</h1>
    {% include 'messages.html' %}
    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Category</div>
                <div class="card-body">
                    <a href="/cakes/get_category">
                        <h1 class="card-title text-center">{{category}}</h1></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Cakes</div>
                <div class="card-body">
                    <a href="/cakes/get_cake"><h1 class="card-title text-center">{{cake}}</h1>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="card text-white bg-warning mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Orders</div>
                <div class="card-body">
                    <a href="/cakes/get_order"><h1 class="card-title text-center">{{order}}</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Users</div>
                <div class="card-body">
                    <a href="/admins/users"><h1 class="card-title text-center">{{users}}</h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <div class="card text-white bg-danger mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Admins</div>
                <div class="card-body">
                    <a href="/admins/admins"> <h1 class="card-title text-center">{{admin}}</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-danger mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Messages</div>
                <div class="card-body">
                    <a href="/cakes/get_message"> <h1 class="card-title text-center">{{message}}</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
